node_modules/
build/
dist/
coverage/
.DS_Store
# Logs
*.log
backend/logs/
.env
!.env.example

# Python & Virtual Environments
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/
env/
backend/venv/
backend/__pycache__/
*/__pycache__/
*.zip

# Database
*.sqlite3
